@{
    const string PageTitle = "Aurelia ToDo-app";

    this.ViewData["Title"] = PageTitle;
}

<div class="container">
    <h1>@PageTitle</h1>

    <div aurelia-app="main">Loading app...</div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/dist/aurelia-app.js" asp-append-version="true"></script>
}