@{
    this.ViewData["Title"] = "Aurelia";
}

<div class="container">
    <h1>Aurelia: TODO-app</h1>

    <div aurelia-app="main">Loading...</div>
</div>

@section Scripts {
    @*<script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>*@
    <script type="text/javascript" src="~/dist/aurelia-app.js" asp-append-version="true"></script>
}